@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

* {
    font-family: NanumBarunGothic, serif;
    color: #555555;
}

div, input, textarea, img {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.login-container {
    width: 400px;
    margin: 100px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 280px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 5px;
    box-sizing: border-box;
}

#form-container {
    width: 70%;
    margin: 0 auto;
}

#loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#login-btn {
    width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
}

#alert-container {
    height: 40px;
    padding: 3px;
}

.chat-box {
    height:400px;
    overflow: auto;
}

.white-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.navbar {
    white-space: nowrap;
}

.navbar a {
    text-decoration: none;
}

.chat-item {
    background-color: burlywood;
}

.cursor {
    cursor: pointer;
}

.chat-connected {
    background-color: darkgrey;
    color: white;
}

.chat-container-box {
    height: 500px;
    background-color: #cccccc;
}

.chat-timestamp {
    color: white;
}

.chat-container {
    background-color: gainsboro;
    height: 600px;
    width: 600px;
}

.active-friend {
    background-color: antiquewhite;
}